/* stylelint-disable*/
/* CSS files add styling rules to your content */
/* RESET */
*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/* VARS */
:root {
  /* BASES*/
  --base-radius: 4px;
  --base-space: 4px;
  --base-size: 50px;

  --font-family: helvetica, arial, sans-serif;

  --radius-l: calc(var(--radius-s) * 2);
  --radius-s: var(--base-radius);
  --radius-xs: calc(var(--radius-s) / 2);
  --radius-none: calc(var(--base-radius) * 0);

  --size-xxxl: calc(var(--base-size) * 8);
  --size-xxl: calc(var(--base-size) * 6);
  --size-xl: calc(var(--base-size) * 4);
  --size-l: calc(var(--size-s) * 2);
  --size-s: var(--base-size);
  --size-xs: calc(var(--size-s) / 2);

  --space-xl: calc(var(--space-s) * 4);
  --space-l: calc(var(--space-s) * 2);
  --space-s: var(--base-space);
  --space-xs: calc(var(--space-s) / 2);
  --space-none: calc(var(--base-space) * 0);

 /* Colors Palette */

 --c-gradient-base: 10%;
 --c-gradient-1: calc(var(--c-gradient-base) * 2);
 --c-gradient-2: calc(var(--c-gradient-base) * 3);
 --c-gradient-3: calc(var(--c-gradient-base) * 4);

  --c-primary-l-3: hsl(78, 28%, calc( 30% + var(--c-gradient-2)));
  --c-primary-l-2: hsl(78, 28%, calc( 30% + var(--c-gradient-1)));
  --c-primary-l-1: hsl(78, 28%, calc( 30% + var(--c-gradient-base)));

  --c-primary: hsl(78, 28%, 30%);
  
  --c-primary-d-1: hsl(78, 28%, calc( 30% - var(--c-gradient-base)));
  --c-primary-d-2: hsl(78, 28%, calc( 30% - var(--c-gradient-1)));
  --c-primary-d-3: hsl(78, 28%, calc( 30% - var(--c-gradient-2)));
  
  --c-secondary-l-3: hsl(21, 43%, calc( 65% + var(--c-gradient-2)));
  --c-secondary-l-2: hsl(21, 43%, calc( 65% + var(--c-gradient-1)));
  --c-secondary-l-1: hsl(21, 43%, calc( 65% + var(--c-gradient-base)));

  --c-secondary: hsl(21, 43%, 65%);

  --c-secondary-d-1: hsl(21, 43%, calc( 65% - var(--c-gradient-base)));
  --c-secondary-d-2: hsl(21, 43%, calc( 65% - var(--c-gradient-1)));
  --c-secondary-d-3: hsl(21, 43%, calc( 65% - var(--c-gradient-2)));

  --c-accent-l-3: hsl(48, 14%, calc( 93% + var(--c-gradient-2)));
  --c-accent-l-2: hsl(48, 14%, calc( 93% + var(--c-gradient-1)));
  --c-accent-l-1: hsl(48, 14%, calc( 93% + var(--c-gradient-base)));

  --c-accent: hsl(48, 14%, 93%);

  --c-accent-d-1: hsl(48, 14%, calc( 93% - var(--c-gradient-base)));
  --c-accent-d-2: hsl(48, 14%, calc( 93% - var(--c-gradient-1)));
  --c-accent-d-3: hsl(48, 14%, calc( 93% - var(--c-gradient-2)));

  --c-error: hsl(346, 84%, 61%);
  --c-success: hsl(164, 95%, 43%);
  --c-warning: hsl(42, 100%, 70%);

  
  --z-base-index: 0;
  --z-max-index: calc(var(--z-base-index) + 1);

  /* BOX-SHADOW */
}





/* UTILITIES */

.ai_center {align-items: center;}

.bd-secondary {border: 1px solid var(--c-secondary);}
.bd_black {border: 1px solid black;}
.bd_none {border: none;}

.bdrs-l {border-radius: var(--radius-l);}
.hover--bdrs-l:hover {border-radius: var(--radius-l);}

.bgc_transparent {background-color: transparent;}
.bgc_white {background-color: white;}
.bgc-accent{background-color:var( --c-accent);}
.bgc-error {background-color: var(--c-error);}
.bgc-primary {background-color: var(--c-primary);}
.bgc-secondary{background-color: var(--c-secondary);}
.bgc-success {background-color: var(--c-success);}
.bgc-warning {background-color: var(--c-warning);}

.c-accent {color: var( --c-accent);}
.c-error {color: var( --c-error);}
.c-primary {color: var(--c-primary);}
.c-secondary {color: var(--c-secondary);}
.c-secondary-l-1 {color: var(--c-secondary-l-1);}
.c-success {color: var( --c-success);}
.c-warning {color: var( --c-warning);}

.d_flex {display: flex;}
.d_grid {display: grid;}
.d_none {display: none;}


.ff {font-family: var(--font-family)}
.fs_italic {font-style: italic;}

.fxd_column {flex-direction: column;}

.ga_header { grid-area: header; }
.ga_nav { grid-area: nav; }
.ga_content { grid-area: content; }
.ga_side { grid-area: side; }
.ga_footer { grid-area: footer; }
/*https://www.digitalocean.com/community/tutorials/css-css-grid-holy-grail-layout*/
.gta-holy-layout {
  grid-template-areas:
    "header"
    "content"
    "footer";
}
.gtc-holy-layout { grid-template-columns: 1fr;}
.gtr-holy-layout { grid-template-rows: auto 1fr;}
.gg-holy-layout { grid-gap: var(--space-none);}



.h-s {height: var(--size-s);}
.h-full {height: 100%;}
.h-xxxl {height: var(--size-xxxl);}
.h_300 {height: 300px;}
.h_100vh {height: 100vh;}

.jc_flex-end {justify-content: flex-end;}

.l-init {left: 0;}

.m-l{margin: var(--space-l);}
.m-s{margin: var(--space-s);}
.m-xs{margin: var(--space-xs);}
.ml-l {margin-left: var(--space-l);}
.mr-l {margin-right: var(--space-l);}

.p-xxl {padding: var(--space-xl);}
.p-xl {padding: var(--space-xl);}


.pb-l {padding-bottom: var(--space-l);}
.pb-s {padding-bottom: var(--space-s);}
.pb-xl {padding-bottom: var(--space-xl);}

.pt-l {padding-top: var(--space-l);}

.pos_absolute {position: absolute;}
.pos_fixed {position: fixed;}
.pos_relative {position: relative;}

.pl-l{padding-left: var(--space-l);}
.pl-s{padding-left: var(--space-s);}
.pl-xs{padding-left: var(--space-xs);}
.pr-l{padding-right: var(--space-l);}
.pr-s{padding-right: var(--space-s);}
.pr-xs{padding-right: var(--space-xs);}

.t-init {top: 0;}

.w-full {width: 100%}
.w-xxl {width: var(--size-xxl);}
.w_100vw {width: 100vw;}

.z-base {z-index: var(--z-base-index)}
.z-max {z-index: var(--z-max-index)}

/* Media Queries */

/* Tablet, Laptop, Desktop */
@media (min-width: 640px) {
  .tld__d_none {display: none;}
  .tld__d_block {display: block;}

  .tld__gta-holy-layout {
    grid-template-areas:
      "header header"
      "nav content"
      "footer footer";
  }
  .tld__gtc-holy-layout { grid-template-columns: var(--size-xl) 1fr;}
}

/* Laptop, Desktop */
@media (min-width: 1024px) {}

/* Desktop */
@media (min-width: 1280px) {
  .d__d_block {display: block;}

  .d__gta-holy-layout {
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
  }
  .d__gtc-holy-layout { grid-template-columns: var(--size-xl) 1fr var(--size-s)}
}

/* HELPERS */

.debug {border: 1px solid red;}
.hover--bd-debug:hover {border: 1px solid red;}
